{% extends 'shop/basic.html' %}
{% block title%}Sign up{% endblock%}
{% block body%}

<div class="container ">
    <div class="p-4 m-4  ">
        <div class="col-lg-5 mx-auto border rounded pt-3 pb-3">


            <h3 class="alert alert-light border rounded">Create An Account</h3>

            <form action="/shop/signup/" method="post">
                {% csrf_token %}

                 <!-- first name-->
                  <div class="form-group">
                    <label for="" class="form-label">First Name</label>
                    <input type="text" class="form-control form-control-sm" id="" placeholder=""/>
                  </div>
                    <!--last name-->
                  <div class="mb-3 ">
                    <label for="" class="form-label">Last Name</label>
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                  </div>

                    <!-- mobile no. -->
                    <div class="mb-3 ">
                    <label for="" class="form-label">Mobile Number</label>
                    <input type="text" class="form-control form-control-sm" id="" placeholder="">
                  </div>


                    <!-- email-->
                  <div class="mb-3 ">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" placeholder="example@gmail.com" aria-describedby="emailHelp">
                  </div>


                    <!-- password-->
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="password">
                     </div>

                    <div>
                        <input type="submit" class="btn btn-primary btn-sm" value="create an account">
                    </div>
            </form>
        </div>
    </div>
</div>
    {% endblock %}